---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

I served as a Graduate Student Instructor (GSI) in the Economics Department for Undergraduate Topics in Economics Research (ECON191) from 2017-2019, Undergraduate Labor Economics (ECON151) in 2020, and Graduate Development Economics (ECON270B) in 2021. I also served as a GSI for International Economic Development Policy in the Masters of Development Practice program. 

